//溢出省略号
@base: 37.5rem;
.overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.close {
  width: 40 / @base;
  height: 40 / @base;
  border-radius: 50%;
  background: url(../../assets/close.png) center no-repeat;
  background-size: 100%;
  margin: 0 auto;
  margin-top: 15 / @base;
}
// .food {
//   height: 100%;
//   display: flex;
// }
.main {
  display: flex;
  width: 100%;
  height: 100vh;
  flex: 0 0 auto;
}
// .food-left {
// width: 80 / @base;
// height: 100%;
// overflow-x: hidden;
// padding-top: 3 / @base;
// padding-bottom: 50 / @base;
// .scroller {
//   height: 100%;
//   width: 80px;
//   overflow: hidden;
// }

// }

.title_bar {
  position: fixed;
  width: 100%;
  height: 36 / @base;
  line-height: 36 / @base;
  padding-left: 10 / @base;
  font-size: 12 / @base;
  background-color: #fff;
  color: #333333;
  top: 170 / @base;
  left: 80 / @base;
  font-weight: 700;
}
